{% load wagtailimages_tags %}

<figure class="figure border border-primary {% if self.align == 'left' %}float-left{% elif self.align == 'right' %}float-right{% elif self.align == 'center' %}text-center{% else %}text-center{% endif %}">
    {% image self.image width-800 class="figure-img img-fluid" %}

    {% if self.caption|length %}
        <figcaption>{{ self.caption }}</figcaption>
    {% endif %}
    {% if self.credit|length %}
        <figcaption>Credit: {{ self.credit }}</figcaption>
    {% endif %}
</figure>
